rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /programacoes/{programacaoId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn()
        && request.resource.size > 0
        && request.resource.size < 15 * 1024 * 1024;
    }
  }
}
